._backdrop {
  padding: 0.1px 0;

  &.header {
    background: $primary;
  }

  &.news {
    background: $gray;
  }

  &.footer {
    background: $primary;
    color: $white;
    margin-top: 4rem;
  }

  &.cta {
    background: $secondary;
  }

  &.overflow {
    background: linear-gradient(
      180deg,
      $secondary 4rem,
      rgba(255, 255, 255, 0) 4rem
    );

    margin-top: -3rem;
    padding-top: 0;
  }

  &.overflow-l {
    background: linear-gradient(
      180deg,
      $secondary 10rem,
      rgba(255, 255, 255, 0) 10rem
    );

    margin-top: -3rem;
    padding-top: 0;
  }
}
