._nav-buttons {
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  background-image: url(/images/faces.png);
  background-repeat: repeat;
  background-size: 500px 500px;
  background-attachment: fixed;
  background-position: center top;
  padding: 0 1rem;

  ._nav-buttons-inner {
    max-width: $max-content-width;
    margin: 0 auto;
  }

  .buttons {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    line-height: 1.5rem;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      white-space: nowrap;
    }

    li {
      display: block;
      margin: -5px 0 0;
      will-change: transform;
      transition: 0.2s ease-out;
      line-height: 2rem;

      &::before {
        display: none;
      }
    }

    a {
      display: block;
      text-align: center;
      text-decoration: none;
      background: $primary;
      color: $white;
      border-radius: 0 0 4px 4px;
      padding: 1.2rem 0 0.7rem;
      filter: grayscale(10%) brightness(1.2);
      transition:
        filter 0.12s ease-out;
      @include font-size-m;

      &[href$='/hledat/'] {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;

        &::before {
          display: inline-block;
          content: '';
          width: 1.5rem;
          height: 1.5rem;
          vertical-align: middle;
          background-image: url(/images/search.svg);
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

      &:hover,
      &:focus-visible {
        filter: brightness(0.95);
      }

      &.selected {
        font-weight: 700;
        padding-top: 1.5rem;
        filter: grayscale(0);
      }

      @include small-only {
        padding: 0.5rem 0.25rem !important;
        border-radius: 4px;
        background: $primary;
        box-shadow: 1rem 0 $primary, -1rem 0 $primary, 1rem 3px 3px rgba(0, 0, 0, 0.1);
        line-height: 2rem;
      }
    }

    @include small-only {
      padding: 1.5rem 0;
      gap: 0.25rem 1.5rem;
      flex-wrap: wrap;
    }

    @include medium {
      display: flex;

      li {
        flex: auto;
      }
    }
  }
}
