{{ define "main" }}

<main>
  <article class="_about">
  	<h1>{{ .Title }}</h1>

    <div class="text-content">
      <div class="perex">
        {{ partial "md-block.html" .Params.perex }}
      </div>

      <div class="people">
        <div>
          {{ with .GetPage "/kdo/ombudsman" }}
            {{ $res := .Resources }}
            {{ with .Params.pic }}
              {{ $pic := $res.GetMatch . }}
              {{ with $pic }}
                <div class="img-wrapper">
                  <img src="{{ ($pic.Resize "600x").Permalink }}" alt="" aria-hidden="true">
                </div>
              {{ end }}
            {{ end }}

            <p><strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong></p>
            <p>{{ .Params.role }}</p>
          {{ end }}
        </div>

        <div>
          {{ with .GetPage "/kdo/zastupce" }}
            {{ $res := .Resources }}
            {{ with .Params.pic }}
              {{ $pic := $res.GetMatch . }}
              {{ with $pic }}
                <div class="img-wrapper">
                  <img src="{{ ($pic.Resize "600x").Permalink }}" alt="" aria-hidden="true">
                </div>
              {{ end }}
            {{ end }}

            <p><strong><a href="{{ .Permalink }}">{{ .Title }}</a></strong></p>
            <p>{{ .Params.role }}</p>
          {{ end }}
        </div>
      </div>

      <div class="facts">
        {{ partial "md-block.html" .Params.facts }}
      </div>

      <ul class="_link-list">
        {{ with .GetPage "/kdo/cim-se-zabyva" }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}

        {{ with .GetPage "/kdo/jak" }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}

        {{ with .GetPage "/kdo/co" }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}

        {{ with .GetPage "/kdo/desatero" }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </article>

</main>
{{ end }}
