{{ define "main" }}
<main>
  <article>
    <h1>{{ .Title }}</h1>

    <div class="text-content">
      {{ with .Params.perex }}
        <div class="perex">{{ partial "md-block.html" (trim . "\n") }}</div>
      {{ end }}

      {{ with .Params.date }}
        <p class="details">
          {{ partial "date.html" (dict "date" . "months" $.Site.Data.mesice) }}
        </p>
      {{ end }}

      {{ $res := .Resources }}
      {{ with .Params.pic }}
        {{ $pic := $res.GetMatch . }}
        {{ with $pic }}
          <div class="portrait">
            <img src="{{ ($pic.Resize "600x").Permalink }}" alt="" aria-hidden="true">
          </div>
        {{ end }}
      {{ end }}

      {{ with (index .Params "we-can") }}
        {{ partial "md-block.html" (index $.Params "we-can-title") }}

        <ul class="_we-can">
          {{ range .  }}
            <li>{{ .text }}</li>
          {{ end }}
        </ul>
      {{ end }}

      {{ with (index .Params "we-cannot") }}
        {{ partial "md-block.html" (index $.Params "we-cannot-title") }}

        <ul class="_we-cannot">
          {{ range .  }}
            <li>{{ .text }}</li>
          {{ end }}
        </ul>
      {{ end }}

      {{ with .Params.contact }}
        <ul class="_contact">
          {{ range . }}
            <li>
              <img class="contact-icon" src="/images/domov/{{ .icon }}">
              <p><strong>{{ .title }}</strong></p>
              {{ partial "md-block.html" .desc }}
            </li>
          {{ end }}
        </ul>
      {{ end }}

    	{{ .Content }}
    </div>
  </article>
</main>
{{ end }}
