._contact {
  li {
    padding-left: 50px;
    min-height: 60px;
    margin: 0 0 3rem;

    &::before {
      display: none;
    }
  }

  .contact-icon {
    position: absolute;
    right: calc(100% - 30px);
    height: 50px;
    max-width: 65px;

    display: block;
    margin-bottom: -50px;
  }

  p {
    margin: 0 0 0.5rem;
  }
}
