._link-list {
  margin: 2rem 0;
  padding-left: 3rem;

  li {
    list-style-type: none;
    @include font-size-l;

    &::before {
      --size: 1.5rem;

      width: var(--size);
      height: var(--size);
      font-size: var(--size);
      margin-top: 0rem;
      margin-left: 0.25rem;
    }
  }

  a {
    font-weight: bold;
    color: $primary;
  }

  &.two-col {
    @include medium {
      column-count: 2;
      column-gap: 2rem;
    }

    li {
      margin: 1.2rem 0;
    }
  }
}
