#search {
  display: block;

  input,
  label {
    position: absolute;
    top: 1rem;

    @include small-only {
      top: 1.3rem;
    }

    right: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
    width: 150px;
    vertical-align: middle;

    display: block;
    margin: 0;
    border: 2px solid $primary;
    border-radius: 4px;
    background: white;
    color: $primary;
  }

  input {
    flex: 0 1 100%;
    width: 150px;

    @include small-only {
      width: 85px;
    }
  }

  label {
    flex-grow: 0;
  }

  label:first-child {
    border-right: none;
  }

  label:last-child {
    border-left: none;
  }
}

.small-search {
  position: relative;
  height: 0px;
  margin: 0.7rem 0 0 1rem;
  padding: 0 1rem;
  max-width: $max-content-width;
  margin: 0 auto;
  z-index: 9999;

  #search {
    margin: 0;
  }

  .search-results {
    padding: 0rem 1rem;
    margin: -2px 0 0;
    border: 2px solid $primary;
    background: white;

    &:empty {
      border: none;
    }

    p,
    li {
    }
  }
}

.search-results {
  padding: 0;

  width: 292px;
  position: absolute;
  right: 1rem;
  top: 3.5rem;
  overflow: hidden;

  line-height: 1.1;

  &.loading {
  }

  li {
    padding: 0.5rem 0;
    margin: 0;
    list-style-type: none;

    a {
      color: $primary;
      font-weight: bold;
      line-height: 1;
      height: auto;
    }

    span {
      opacity: 0.5;
      line-height: 1;
    }
  }
}
