<!DOCTYPE html>
<html>

<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {{ $style := resources.Get "style/style.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">

  <link rel="stylesheet" href="https://use.typekit.net/tly6rvv.css">

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>
  {{ partial "alert-strip.html" . }}

  {{ partial "header.html" . }}h

  {{ block "main" . }}{{ end }}

  {{ partial "site-footer.html" . }}

  {{ $js := resources.Get "scripts/index.js" | minify | fingerprint }}
  <script src="{{ $js.Permalink }}"></script>

  <script src="/main.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2D5HYZE3WP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-2D5HYZE3WP');
  </script>

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>

