._news {
  padding-left: 0;
}

.blue-block {
  background: $primary;
  padding: 2rem;
  margin: 2rem -2rem;

  ul {
    margin: 2rem 0 0;

    li::before {
      content: "•";
      color: $white;
    }
  }

  h2,
  p,
  li,
  a {
    margin: 0.5rem 0;
    color: $white;
  }
}
