:root {
  --narrow-layout: min(48rem, calc(100vw - 2rem));
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: $white;
  background-image: url(/images/faces.png);
  background-attachment: fixed;
}

figure {
  padding: 0;
  margin: 0;

  figcaption {
    margin: 0.25rem 2rem 2rem;
    text-align: center;
    font-style: italic;
  }
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

.title-with-arrow {
  display: inline-block;
  position: relative;

  color: $primary;
  max-width: 42rem;
  margin: 4rem auto 2rem;

  &::after {
    content: ' ';
    display: block;
    position: absolute;
    background-repeat: no-rep_eat;
    background-position: 50% 50%;
    background-size: contain;

    right: -45px;
    bottom: -35px;
    width: 75px;
    height: 50px;
    background-image: url(/images/arrow-enter.svg);
  }
}

.details {
  @include font-size-s;
  font-weight: bold;

  margin: -1rem 0 2rem;
}

main > article {
  max-width: var(--narrow-layout);
  margin: 3rem auto;
  padding: 1rem;
  background: $white;
  border-radius: 29px;
  box-shadow: 0px 4px 12px 0px hsla(0, 0%, 0%, 0.25);

  h1 {
    position: relative;
    color: $primary;
    max-width: 50rem;
    text-align: center;
    margin: 2rem auto 2rem;

    &::after {
      content: ' ';
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: contain;

      @include medium {
        display: block;
        position: absolute;
      }
    }

    @include small-only {
      margin: 1rem 0;
    }
  }

  .text-content {
    // max-width: calc(38rem - 2rem);
    margin: 0 1rem;

    img {
      border-radius: 4px;
      overflow: hidden;
    }
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0 4rem;

  th {
    background: $primary;
    color: $white;
    text-align: left;
  }

  td,
  th {
    padding: 0.5rem;
    border-bottom: 1px solid $border-gray;
  }
}

main img {
  max-width: 100%;
}

._gray-pic {
  display: block;
  width: 100%;
  filter: grayscale(100%);
}

.portrait {
  max-width: 200px;
  float: right;
  margin: 0 0 1rem 1rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

@mixin button {
  background-color: $primary;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  padding: 1rem 1.2rem;
  box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.25);

  &:hover {
    color: white;
    background-color: $primary-bright;
  }
}

.more-link {
  @include button;

  display: block;
  width: fit-content;
  margin: 2rem auto;
}

main img {
  cursor: pointer;
}

.zoomed-in {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  margin: auto;
  z-index: 99;
  background: rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@mixin button {
  box-sizing: border-box;
  display: inline-block;
  border-radius: 4px;

  font-weight: bold;
  text-decoration: none;

  color: $primary;
  border: 2px solid $primary;
  padding: 0.7em 1.4em;
  margin-bottom: 0.5em;
  will-change: background-color;
  transition: background-color 0.3s ease-in;

  &:hover {
    color: $black;
    border-color: $black;
  }
}
