$grid-gap: 2rem;

@mixin bg($color) {
  background-color: $color;
  padding: 3rem;
}

@mixin grid($cols: false) {
  display: grid;
  grid-gap: $grid-gap;

  @if ($cols) {
    grid-template-columns: $cols;
  }
}

main {
  section img {
    max-width: 100%;
  }

  ._footer-pic {
    background: $gray;

    @include medium {
      margin-top: 4rem;

      .text {
        margin-bottom: 3rem;
      }
    }
  }
}

main {
  section {
    margin: 3rem auto;
    padding: 0 1rem;

    @include medium {
      & > :first-child {
        margin-top: 0;
      }

      &._full {
        max-width: 80vw;

        &.two-col {
          @include grid(repeat(2, 1fr));
        }

        h1,
        h2,
        h3 {
          margin: 0;
          grid-column: 1 / -1;
        }
      }
    }
  }

  & > section {
    margin: 4rem auto;
  }

  & > section:last-child {
    margin-bottom: 3rem;
  }
}
