<div class="_collapsible">
  <input type="checkbox" id="{{ .id }}" {{ with .open }}checked{{ end }}>
  <div class="box">
    <h3 class="title">
      <span class="chevron" aria-hidden="true"></span>
      <label tabindex="0" class="opener" for="{{ .id }}" aria-controls="{{ .id }}-content" aria-expanded="{{ with .open }}true{{ else }}false{{ end }}">
        <span class="icon-wrapper">
          <img class="icon" src="/images/domov/{{ .icon }}">
        </span>
        {{ .title }}
      </label>
    </h3>
    <div class="content" id="{{ .id }}-content">
