{{ $page := .page -}}
<ul class="_link-list">
  {{ range .list }}
    {{ $link := cond (isset . "file") .file .link }}
    <li><a href="
      {{- if (findRE "^http" $link) -}}
        {{- $link -}}
      {{- else -}}
        {{- $permalink := ($page.GetPage $link).Permalink -}}
        {{- with $permalink -}}
          {{-  . | absURL -}}
        {{- else -}}
          {{ $link }}
        {{- end -}}
      {{- end -}}">
        {{- with .text }}{{ . }}{{ else }}{{ .title }}{{ end -}}
      </a></li>
  {{ end }}
</ul>
