<article class="_news-preview">
  {{ $preview := .preview }}
  {{ $h := .h }}
  {{ $res := $preview.Resources }}
  {{ with $preview.Params.pic }}
    {{ $pic := $res.GetMatch . }}
    {{ with $pic }}
      <div class="img-wrapper">
        <img src="{{ ($pic.Resize "600x").Permalink }}" alt="" aria-hidden="true">
      </div>
    {{ end }}
  {{ end }}

  <div class="content-wrapper">
    {{ with $preview }}
      <h{{ with $h }}{{.}}{{ else }}3{{ end }}>
        <a
          href="{{ .Permalink }}">
          {{- "" -}}<span class="icon-{{ with .Params.icon }}{{ . }}{{ else }}arrow{{ end }}" aria-hidden="true"></span>
          {{- .Title -}}
        </a>
      </h{{ with $h }}{{.}}{{ else }}3{{ end }}>

      {{ with .Params.date }}
        <p class="details">
          {{ partial "date.html" (dict "date" . "months" $preview.Site.Data.mesice) }}
        </p>
      {{ end }}

    {{ with .Params.perex }}{{ partial "md-block.html" . }}{{ end }}
    {{ end }}
  </div>
</article>

