<div class="_backdrop footer">
  <footer class="_site-footer">
    <div class="cols">
      <section>
        <h2>Neboj se a napiš nebo zavolej</h2>
        <ul>
          <li>
            <span class="email-label">E-mail: </span>
            <a href="mailto:{{ (.GetPage "/kontakt").Params.email }}">{{ (.GetPage "/kontakt").Params.email }}</a>
            <span class="hide-on-small">|</span>
            <span class="disclaimer">Tento e-mail je určen pouze dětem a náctiletým</span>
          </li>

          <li>
            <span class="phone-label">Telefon: </span>
            <span class="phone">{{ (.GetPage "/kontakt").Params.phone }}</span>
          </li>
        </ul>
      </section>

      <section class="stay-in-touch">
        <h2>Buďme v kontaktu</h2>
        <ul>
          <li>
            <span class="facebook-label">Facebook: </span>
            <a href="https://fb.com/verejny.ochrance.prav">verejny.ochrance.prav</a>
          </li>

          <li>
            <span class="twitter-label">Twitter: </span>
            <a href="https://twitter.com/ochranceprav">@ochranceprav</a>
          </li>


        </ul>
      </section>

      <section class="socials-more">
        <h2>&nbsp;</h2>

        <ul>
          <li>
            <span class="instagram-label">Instagram: </span>
            <a href="https://www.instagram.com/verejny.ochrance.prav">verejny.ochrance.prav</a>
          </li>

          <li>
            <span class="youtube-label">Youtube: </span>
            <a href="https://www.youtube.com/channel/UCdWvuDhPr0GVH1mlSbWnNjQ">Ombudsman</a>
          </li>
        </ul>
      </section>
    </div>
    <hr>
    <div class="bottom-line">
      <p>&copy; {{ now.Format "2006" }} Kancelář veřejného ochránce práv
        <a href="https://www.toplist.cz" style="margin-top: -20px;" id="toplist"></a>
          <script language="JavaScript" type="text/javascript" charset="utf-8">
            document.getElementById('toplist').innerHTML = ('<img src="https://toplist.cz/dot.asp?id=30867&http='+ encodeURIComponent(document.referrer)+'&t='+encodeURIComponent(document.title)+'&l='+encodeURIComponent(document.URL)+'&wi='+encodeURIComponent(window.screen.width)+'&he='+encodeURIComponent(window.screen.height)+'&cd='+encodeURIComponent(window.screen.colorDepth)+'" width="1" height="1" border=0 alt="TOPlist" />'); </script>
          <noscript><img src="https://toplist.cz/dot.asp?id=30867&njs=1" border="0" alt="TOPlist" width="1" height="1" /></noscript>
      </p>
      <p class="a11y">
          <span class="mobile-p">Jsme přístupní</span> <a href="https://www.ochrance.cz/pristupnost/"
  class="icon-link"><span class="movement">lidem s pohybovým
  znevýhodněním,</span> <span class="seeing">lidem se zrakovým
  znevýhodněním,</span> <span class="hearing">lidem se sluchovým
  znevýhodněním,</span></a> <span class="mobile-p">i lidem s jinými <a
  href="https://www.ochrance.cz/pristupnost/">speciálními potřebami.</a>
        </span>
      </p>
   </div>
  </footer>
</div>
