._home {
  margin: 0 0 4rem;

  @include medium {
    padding: 0rem;
    margin: 3rem auto 0;
  }

  & + ._backdrop.footer {
    margin-top: 0;
  }

  h1 {
    display: none;
  }

  .news {
    @include small-only {
      background: white;
      padding: 2rem 1rem;
    }

    @include medium {
      padding-top: 2rem;
      padding-bottom: 1rem;
      background-color: $white;
      margin: 4rem 0 6rem;
      box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);

      .more-link {
        margin-bottom: 0;
      }

      &.tz {
        margin-top: -4rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);

        h2 {
          text-align: center;
          margin: -1rem auto 2rem;
        }
      }

      & h2,
      ul {
        max-width: $max-content-width;
        padding: 0 1rem;
        margin: 1rem auto;
      }
    }
  }

  .home-grid {
    // background-color: $gray;
    max-width: 1100px;
    margin: 0 auto;

    @include small-only {
      margin-bottom: 6rem;

      .intro-text-wrapper {
        position: relative;
        padding-top: 0.1rem;

        margin-top: auto;

        // font-weight: 600;
        color: $secondary;
        margin: auto;
        align-self: center;
        max-width: 20em;
        padding: 1rem;

        background: radial-gradient(
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0) 100%
        );

        p {
          font-size: 110%;
          text-align: center;
        }
      }
    }

    @include medium {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 1rem;

      .intro-text-wrapper {
        position: relative;
        display: flex;

        .intro-text {
          margin-top: auto;

          // font-weight: 600;
          color: $secondary;
          margin: auto;
          align-self: center;
          // max-width: 20em;
          padding: 1rem 5rem 1rem 0;

          background: radial-gradient(
            rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0) 100%
          );

          p {
            font-size: 140%;
            text-wrap: balance;
            // text-align: center;
          }

          // box-shadow: 30vw 0 0 $primary, 45vw 0 0 $primary, 60vw 0 0 $primary;
        }
      }
    }

    @media only screen and (min-width: $max-content-width + 150px) {
      .intro-text-wrapper {
        .intro-text {
          // padding-left: 100px;
        }
      }
    }

    iframe {
      display: block;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 250px;

      @include medium {
        height: 300px;
      }
    }

    .video-carousel {
      position: relative;

      .videos {
        height: 250px;
        width: 100%;
        overflow: hidden;

        @include medium {
          height: 300px;
        }
      }

      #prev,
      #next {
        display: block;
        position: absolute;
        left: -3rem;
        top: 40%;
        background-image: url(/images/arrow-left.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50% 50%;
        height: 2rem;
        width: 2rem;
        text-indent: 2.5rem;
        overflow: hidden;
      }

      #next {
        background-image: url(/images/arrow-right.svg);
        left: auto;
        right: -3rem;
      }

      @include small-only {
        #prev,
        #next {
          z-index: 1;
          left: 0.5rem;
          top: auto;
          bottom: -2.5rem;
        }

        #next {
          left: auto;
          right: 0.5rem;
        }
      }

      .dots {
        position: absolute;
        bottom: -2rem;
        left: 0;
        right: 0;
        text-align: center;

        span {
          display: inline-block;
          padding: 0;
          font-size: 8px;
          line-height: 1em;
          color: $white;
          cursor: pointer;

          aspect-ratio: 1;
          border: 4px solid $secondary;
          border-radius: 100px;

          &.selected {
            color: $secondary;
            background-color: $secondary;
          }
        }
      }
    }
  }
}
