._link-list {
  --size: 2rem;

  li {
    list-style-type: none;

    @include font-size-l;

    &::before {
      background-image: url(/images/arrow-right-blue.svg);
    }

    p {
      margin: 0 0 0.25rem;
    }

    .detail p {
      @include font-size-m;
    }
  }

  a {
    font-weight: bold;
    color: $primary;
  }

  &.two-col {
    @include medium {
      column-count: 2;
      column-gap: 2rem;
    }

    li {
      margin: 1.2rem 0;
    }
  }
}
