._link-list {
  --size: 2rem;
  padding-left: calc(1.25 * var(--size));

  li {
    list-style-type: none;

    @include font-size-l;

    &::before {
      --size: 1.5rem;
      content: '•';

      width: var(--size);
      height: var(--size);
      font-size: var(--size);
      margin-top: 0rem;
      margin-left: 0.5rem;
    }

    p {
      margin: 0.25rem 0;
    }

    .detail p {
      @include font-size-m;
    }
  }

  a {
    font-weight: bold;
    color: $primary;
  }

  &.two-col {
    @include medium {
      column-count: 2;
      column-gap: 2rem;
    }

    li {
      margin: 1.2rem 0;
    }
  }
}
