._news-preview {
  list-style-type: none;

  .content-wrapper {
    display: grid;
  }

  .details {
    margin: 2rem 0 0;
    grid-row: 1;
    color: black;

    &::after {
      content: '';
    }
  }

  h2,
  h3 {
    @include font-size-l;
    margin: 0;
    padding: 0.5rem 0 0;

    a {
      color: $primary;
    }
  }

  p {
    margin: 0.5em 0;
  }

  .img-wrapper {
    height: 12rem;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: $white;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: 50% 50%;
    }
  }
}
