._site-footer {
  margin: 0 auto;
  padding: 3rem 0;

  @include small-only {
    padding: 0.5rem 1rem 2rem;

    .disclaimer {
      @include font-size-s;
      display: block;
      padding-left: 2.75rem;
    }
  }

  @include medium {
    max-width: 80vw;
  }

  .cols {
    @include medium {
      @include grid(repeat(3, 1fr));
    }
  }

  h2 {
    @include font-size-m;
    @include font-family-bread;
    margin: 0 0 1rem;
    color: white;

    @include small-only {
      margin-top: 2rem;
    }
  }

  ul {
    padding: 0;

    li {
      list-style-type: none;
      margin-bottom: 1rem;
    }
  }

  .stay-in-touch {
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    li {
      white-space: nowrap;
      margin: 0;
    }

    @include small-only {
      ul {
        @include grid(1fr);
        margin: 0;
      }
    }
  }

  .socials-more {
    @include small-only {
      ul {
        margin: 0;
      }
      h2 {
        display: none;
      }
    }
  }

  a {
    color: $white;

    &.icon-link {
      text-decoration: none;
    }

    .movement,
    .seeing,
    .hearing {
      display: inline-block;
      white-space: nowrap;
      vertical-align: middle;

      font-size: 1.4rem;
      width: 2.5rem;
      overflow: hidden;
    }

    .movement::before {
      @include fa-icon($fa-var-wheelchair);
      vertical-align: top;
      position: relative;
      top: -0.1rem;
      width: 2.5rem;
      color: $white;
      text-align: center;
    }

    .seeing::before {
      @include fa-icon($fa-var-eye-slash);
      vertical-align: top;
      position: relative;
      top: -0.1rem;
      width: 2.5rem;
      color: $white;
      text-align: center;
    }

    .hearing {
      width: 5rem;

      &::before {
        @include fa-icon($fa-var-deaf);
        vertical-align: top;
        position: relative;
        top: -0.1rem;
        content: fa-content($fa-var-deaf) ' ' fa-content($fa-var-headphones-alt);
        width: 5rem;
        color: $white;
        text-align: center;
      }
    }
  }

  .disclaimer {
    margin-left: 2.75rem;
    text-wrap: balance;
  }

  .about-us-link {
    display: block;
    margin-left: 2.75rem;
  }

  .phone-label,
  .email-label,
  .facebook-label,
  .instagram-label,
  .youtube-label,
  .twitter-label,
  .linkedin-label {
    display: inline-block;
    width: 2.5rem;
    height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    vertical-align: middle;

    &::before {
      display: inline-block;
      box-sizing: border-box;
      width: 2rem;
      height: 2rem;
      overflow: hidden;
      background: $white;
      line-height: 2rem;
      text-align: center;
      border-radius: 1rem;
    }
  }

  .facebook-label::before {
    @include fa-icon($fa-var-facebook-f);
    font-family: 'FontAwesome-Brands';
    width: 2rem;
    top: 0;
    margin-right: 1rem;
  }

  .instagram-label::before {
    @include fa-icon($fa-var-instagram);
    font-family: 'FontAwesome-Brands';
    width: 2rem;
    top: 0;
    margin-right: 1rem;
  }

  .youtube-label::before {
    @include fa-icon($fa-var-youtube);
    font-family: 'FontAwesome-Brands';
    width: 2rem;
    top: 0;
    margin-right: 1rem;
  }

  .twitter-label::before {
    @include fa-icon($fa-var-x-twitter);
    font-family: 'FontAwesome-Brands';
    width: 2rem;
    top: 0;
    margin-right: 1rem;
  }

  .linkedin-label::before {
    @include fa-icon($fa-var-linkedin);
    font-family: 'FontAwesome-Brands';
    width: 2rem;
    top: 0;
    margin-right: 1rem;
  }

  .phone-label::before {
    @include fa-icon($fa-var-phone-alt);
    width: 2rem;
    top: 0;
    margin-right: 1rem;
  }

  .email-label::before {
    @include fa-icon($fa-var-envelope);
    width: 2rem;
    top: 0;
    margin-right: 1rem;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .bottom-line {
    @include font-size-s;

    p {
      color: white;
    }

    @include small-only {
      .a11y {
        margin-top: 2rem;
        color: white;
      }

      .mobile-p {
        display: block;
        margin: 1rem 0;
      }
    }

    @include medium {
      @include grid(auto auto);
      align-items: center;

      p {
        margin: 0;
      }

      .a11y {
        text-align: right;
      }
    }
  }

  hr {
    border: solid $white;
    border-width: 1px 0 0;
    margin: 2rem 0 1rem;
  }
}
