._site-header {
  ul {
    margin: 0;
    padding: 0;

    a {
      color: $white;
    }
  }

  ._backdrop.header {
    position: relative;
    z-index: 10;
  }

  ul.stripe {
    color: $white;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    height: 8rem;

    gap: 1rem;
    align-items: center;

    @include small-only {
      display: grid;
      grid-template-columns: repeat(6, auto);
      height: auto;

      & > li {
        display: inline-block;
        margin: 0;
        white-space: nowrap;

        &:first-child {
          grid-column: 1 / -1;
        }
      }
    }

    li.root-link {
      display: block;
      flex-grow: 1;
      flex-shrink: 1;
      height: 100%;

      &::before {
        display: none;
      }

      a {
        display: block;
        height: 100%;
        width: auto;
      }

      img {
        width: auto;
        height: 100%;
        object-position: 0% 0%;
        object-fit: contain;
      }

      @include small-only {
        img {
          display: block;
          width: 70vw;
          vertical-align: middle;
        }
      }
    }

    & > li {
      & > a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    @include medium {
      max-width: $max-content-width;

      & > li {
        display: block;
        margin: 0;
        padding: 0;
      }
    }
  }

  .buttons {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    line-height: 1.5rem;
    grid-template-columns: 1fr 1fr;

    a {
      white-space: nowrap;
    }

    @include small-only {
      padding: 1.5rem 1rem;
      gap: 0.25rem 1.5rem;
      flex-wrap: wrap;
      margin: 0 1rem;
    }

    @include medium {
      padding: 0 1rem;
      margin: 0 auto 0;
      max-width: $max-content-width;
      display: flex;
    }

    a {
      display: inline;
      text-decoration: none;

      background: linear-gradient(to bottom, #0259a4, $primary 30%);
      border-radius: 0 0 var(--radius-tiny) var(--radius-tiny);
      padding: 1.2rem 0 0.7rem;
      filter: grayscale(10%) brightness(1.2);

      &[href$='/hledat/']::before {
        display: inline-block;
        content: '';
        width: 1.5rem;
        height: 1.5rem;
        vertical-align: middle;
        background-image: url(/images/search.svg);
        background-size: contain;
        background-repeat: no-repeat;
      }

      &:hover {
        filter: brightness(0.95);
      }

      &.selected {
        font-weight: bold;
        padding-top: 1.5rem;
        filter: grayscale(0);
      }

      @include small-only {
        padding: 0.5rem 0.25rem !important;
        border-radius: var(--radius-tiny);
        background: $primary;
        box-shadow:
          1rem 0 0 $primary,
          -1rem 0 0 $primary,
          1rem 3px 3px rgba(0, 0, 0, 0.1);
        line-height: 2rem;
        // width: 100%;
      }

      @include medium {
        display: block;
        text-align: center;
      }
    }

    li {
      // flex: 1 1 auto;
      display: block;

      margin: -5px 0 0;

      will-change: transform;
      transition: 0.2s ease-out;
      line-height: 2rem;

      transform-origin: 0% 0%;
      transform: rotate(-3deg);

      @include small-only {
        flex-grow: 0;
        margin: 0.5rem !important;
      }

      @include medium {
        flex: 1 1 auto;

        a {
          // @include font-size-s;
        }
      }
    }
  }
}
