ul._vystupy {
  margin: 0 auto;
  max-width: var(--narrow-layout);

  margin: 3rem auto 0;
  padding: 0;

  display: grid;

  @include medium {
    grid-template-columns: repeat(3, 1fr);
  }

  gap: 1rem;

  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background: $primary;
    justify-content: space-around;
    min-height: 6rem;

    a {
      display: block;
      padding: 1rem;

      color: white;

      text-wrap: balance;
      text-align: center;
      font-size: 110%;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
