ul._vystupy {
  max-width: var(--narrow-layout);

  margin: 0 auto 2rem;
  padding: 0;

  display: grid;

  @include medium {
    grid-template-columns: repeat(3, 1fr);
  }

  gap: 1rem;

  li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border: 1px solid $primary;
    justify-content: space-around;
    min-height: 6rem;
    border-radius: var(--radius-tiny);
    margin: 0;
    padding: 0;

    a {
      display: block;
      padding: 1rem;

      // color: white;
      color: $primary;

      text-wrap: balance;
      text-align: center;
      font-size: 110%;
      font-weight: bold;
      text-decoration: none;
    }

    &:hover {
      background-color: $primary;

      a {
        color: white;
      }
    }
  }
}
