{{ define "main" }}
<main class="_pagefind">

  <article>
    <h1>{{ block "title" . }}{{ .Title }}{{ end }}</h1>

    <div class="text-content">
      <div id="search"></div>
    </div>

    <script src="/pagefind/pagefind-ui.js"></script>

    <script>
      window.addEventListener('DOMContentLoaded', event => {
        new PagefindUI({
          element: '#search',
          excerptLength: 30,
          showSubResults: true,
          showImages: false,
          translations: {
            placeholder: document.querySelector('html').getAttribute('lang') == 'en' ? "Search…" : "Hledat…",
          }
        });
      });
    </script>
  </article>
</main>
{{ end }}



