{{ define "main" }}
<main>
  <article>
  	<h1>{{ .Title }}</h1>

    <div class="text-content">
      {{ with .Params.perex }}
        <div class="perex">{{ partial "md-block.html" (trim . "\n") }}</div>
      {{ end }}

      {{ with .Params.date }}
        <p class="details">
          {{ partial "date.html" (dict "date" . "months" $.Site.Data.mesice) }}
        </p>
      {{ end }}

      {{ .Content }}

      {{ with .Params.linky }}
        <div class="perex">
          {{ partial "md-block.html" . }}
        </div>
      {{ end }}

      <ul class="_link-list">
        {{ range .Pages }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul>
    </div>
  </article>


</main>
{{ end }}
