{{ define "main" }}
<main>
  <article>
  	<h1>{{ .Title }}</h1>



    <div class="text-content">
      {{ with .Params.howto }}
        <h2>{{ .Title }}</h2>
        <p>{{ .perex }}</p>
        {{ with .contact }}
          <ul class="_contact">
            {{ range . }}
              <li>
                <img class="contact-icon" src="/images/domov/{{ .icon }}">
                <p><strong>{{ .title }}</strong></p>
                {{ partial "md-block.html" (dict "content" .desc "context" $) }}
              </li>
            {{ end }}
          </ul>
        {{ end }}
        {{ partial "md-block.html" (dict "content" .reqs "context" $) }}
      {{ end }}
      </div>


      {{ with .Params.perex }}
        <div class="perex">{{ partial "md-block.html" (dict "content" (trim . "\n") "context" $) }}</div>
      {{ end }}

      {{ with .Params.date }}
        <p class="details">
          {{ partial "date.html" (dict "date" . "months" $.Site.Data.mesice) }}
        </p>
      {{ end }}



      <!--  {{ with .Params.linky }}
        <div class="perex">
          {{ partial "md-block.html" (dict "content" . "context" $) }}
        </div>
      {{ end }}

      <ul class="_link-list">
        {{ range .Pages }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      </ul> -->
    </div>

    <div class="text-content">
     <h2>Jsem v zařízení nebo v nemocnici</h2>
    {{ $jsem := where (where .Site.Pages "Section" "jsem") "Kind" "page" }}

    {{ range $jsem }}
      <h3>{{ .Title }}</h3>
      {{ partial "md-block.html" (dict "content" .Params.perex "context" $) }}
    {{ end }}
    </div>

  </article>






</main>
{{ end }}
